<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dich_tieng_dan_toc.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
				<key>dateExpires</key>
				<string>16/12/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>10.29.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>10.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>10.29.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>10.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>10.29.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Try.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>56DE4A301D8EFB3208738BF3158E2CCEDAFB8A6A</string>
						<key>dateExpires</key>
						<string>16/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>speech_to_text.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V42QV54BXF</string>
						<key>name</key>
						<string>Mai Anh Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V42QV54BXF.com.tondz.tiengdantoc.dichTiengDanToc</string>
				<key>com.apple.developer.team-identifier</key>
				<string>V42QV54BXF</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6f074017-7c48-4c46-b5a6-8838c136bd9e</string>
				<key>dateExpires</key>
				<string>16/12/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V42QV54BXF</string>
				<key>name</key>
				<string>Mai Anh Nguyen</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
